/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, li, menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}


/* Layout */

body{
    font-family: 'Abel', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Nabla', system-ui;
font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

header{
    background-color: tomato;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}


.container h2{
    padding: 40px 20px 0 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}

.head-content{
    min-height: 80px;
    line-height: 80px;
}

.head-content.row{
    justify-content: space-between;
}

.gender{
    width: 30%;
}

.gender-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gender-list a:hover{
    color: white;
    text-decoration: underline;
}


.logo{
    max-width: 150px;
    vertical-align: middle;
    
}

.logo img{
   position: relative;
   top: 10px;
}


.icon{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.icon img:hover{
   filter: invert(100%);
}

.col-3{
    width: calc( 100% / 3);
    padding: 5px;
}



.card-img{
    position: relative;
    display: block;
}

.brand{
    color: rgb(101, 97, 97);
    font-size: 12px;
}

.sustenible{
    background-color: green;
    color: white;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 60px;
    z-index: 1;
}

.sustenible-alone{
    background-color: green;
    color: white;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 1;
}

.discount{
    background-color: red;
    color: white;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 1;
}

.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}


.row.add-prd{
    justify-content: center;
    align-items: center;
}


.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease-in-out 500ms;
}

.add-prd{
    background-color: tomato;
    line-height: 20px;
    border-radius: 20px;
    padding: 5px;
    z-index: 1;
}

.card-img:hover .overlay{
    opacity: 1;
    background-size: cover;
    background-position: center;
}

.overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}



.discount-price{
    color: red;
}

.old-price{
    text-decoration: line-through;
}
footer{
    padding: 50px;
    background-color: black;
    color: white;
}

.col6.left h2{
    padding: 0;
}

.foot-link{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    
}

.foot-link a{
    color: rgb(204, 201, 201);
    margin-top: 7px;
}

.foot-link a:hover{
    color: tomato;
}

.social-link{
    padding: 7px;
}




